.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  transition: all 0.2s;

  &__item {
    margin: 20px;
    border: 1px solid $color-primary;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.3);
    }
  }

  &__active {
    transition: all 0.2s;
    transform: scale(1.2);
    box-shadow: 0 0 20px 5px $color-blue;
  }
}
