@import '../abstracts/constants.scss';

.player {
  position: relative;
  font-size: 1rem;
  width: 100%;
  // border: 2px solid $color-border;
  background-color: rgba($color: $color-border, $alpha: 0.2);
  border-radius: 5px;
  display: flex;

  @media (max-width: $content-middle-keyboard) {
    align-items: center;
    width: 20%;
    padding: 0 5px;
  }

  &_active {
    background-color: rgba($color: rgb(130, 241, 2), $alpha: 0.7);
    .player__name {
      color: #1500a9;
    }
  }

  &__avatar {
    width: 100px;
    height: 150px;
    border-radius: 50%;
    margin: 5px auto;
    background-size: cover;
    background-position: top;

    @media (max-width: $content-middle-width) {
      width: 80px;
      height: 120px;
    }
    @media (max-width: $content-middle-keyboard) {
      width: 75px;
      height: 100px;
    }
    @media (max-width: 720px) {
      width: 60px;
      height: 80px;
    }

    &_man {
      background-image: url('../assets/icons/man.png');
    }

    &_woman {
      background-image: url('../assets/icons/woman.png');
    }
  }

  &__info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

    @media (max-width: $content-big-width) {
      font-size: 1.75rem;
    }
    @media (max-width: $content-hd-width) {
      font-size: 1.5rem;
    }
    @media (max-width: $content-middle-width) {
      font-size: 1.25rem;
    }
    @media (max-width: $content-middle-keyboard) {
      font-size: 0.75rem;
      justify-content: center;
    }
    @media (max-width: 720px) {
      font-size: 0.6rem;
    }
  }

  &__name {
    width: 100%;
    display: block;
    text-align: center;
    color: $color-primary;
    margin: 5px 0;
    word-wrap: break-word;
    font-weight: 700;
  }

  &__score {
    margin: auto 0 10px;
    color: cornsilk;
    font-weight: 700;

    @media (max-width: $content-middle-keyboard) {
      margin: 0;
    }

    &_error {
      animation-name: blinker;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(1, 0, 0, 1);
      animation-duration: 1s;
      color: brown;
    }

    &_true {
      animation-name: blinker;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(1, 0, 0, 1);
      animation-duration: 1s;
      color: rgb(36, 71, 1);
    }
  }

  &__answer-field {
    position: absolute;
    padding: 10px;
    top: -30%;
    right: 90%;
    border-radius: 20px;
    min-width: 50%;
    min-height: 60%;
    background-color: rgba($color: white, $alpha: 0.9);
    color: black;
    font-size: 1rem;
    z-index: 10;

    @media (max-width: $content-middle-keyboard) {
      min-width: 70%;
      min-height: 40%;
      top: 0;
      font-size: 0.75rem;
    }
    @media (max-width: $content-little-width) {
      font-size: 0.5rem;
    }
  }

  &:first-child {
    .player__answer-field {
      @media (max-width: $content-middle-keyboard) {
        left: 40%;
      }
    }
  }
}
