.controls {
  &__answer-button {
    width: 90%;
    max-width: 500px;
    height: 2rem;
    margin: 10px auto;
    font-size: 1rem;
    text-align: center;
    background: #000;
    background-color: #da4f6e;
    background-image: linear-gradient(60deg, #e85475 10%, #d48444 50%, #efcb0a 100%);
    color: #f7f4f4;
    border-radius: 50px;
    padding: 0 10px;
    border: solid rgba(45, 45, 45, 0.9);
    box-shadow: 0px 0px 9px 2px rgba(195, 195, 195, 0.35);
    transition: all 0.5s ease;
    font-weight: bold;

    &:hover {
      box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
      transform: scale(0.93);
    }
  }

  // &__additional-buttons {
  //   width: 90%;
  //   max-width: 500px;
  //   height: 2rem;
  //   margin: 0 auto;
  //   background: cornflowerblue;
  // }
}
