@import 'abstracts/constants';
@import 'abstracts/mixins';

@import 'base/base';
@import 'base/switch';
@import 'base/buttons';

@import 'layouts/footer';
@import 'layouts/wrapper';
@import 'layouts/header';
@import 'layouts/background';
@import 'layouts/container';

@import 'components/menu-list';
@import 'components/burger';

@import 'components/start-menu';
@import 'components/player';
@import 'components/bot';
@import 'components/controls';
@import 'components/playground';
@import 'components/menu-list';
@import 'components/burger';
@import 'components/timer';
@import 'components/rules';
@import 'components/settings';
