.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5px 50px 5px;
  justify-content: center;
  min-height: 70vh;

  &__menu,
  &__rules,
  &__settings,
  &__game-param {
    display: flex;
    align-items: center;
  }

  .main-menu {
    display: flex;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 500px;
      max-height: 100px;
      width: 60vw;
      height: 10vh;
      border-radius: 3px;
      background: #bcd0e5;
      border: 2px solid $color-recovered;
      color: $color-text;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
      transition: 0.3s all;
      text-align: center;

      &:hover {
        background: $color-hovered;
      }

      span {
        font-size: 2rem;
        font-weight: bold;
        transition: 0.3s all;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &__game {
    display: flex;
    align-items: center;
    width: 97vw;
    justify-content: space-between;

    @media (max-width: $content-middle-keyboard) {
      flex-direction: column;
    }
  }

  &__active,
  &__playground,
  &__players {
    display: flex;
    transition: all 0.5s ease;
    flex-direction: column;
    border-radius: 5px;
    height: 80vh;
    margin: 5px;
  }

  &__active {
    width: 25%;
    background: $color-yellow;

    @media (max-width: $content-middle-keyboard) {
      width: 100%;
      min-height: 150px;
      height: 25%;
      order: 3;

      flex-direction: row;
      justify-content: center;
      overflow: hidden;
    }
  }

  &__playground {
    width: 50%;
    background: $color-red;

    @media (max-width: $content-middle-keyboard) {
      width: 100%;
      // min-height: 500px;
      height: 50%;
    }
  }

  &__players {
    width: 25%;
    background: $color-violet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $content-middle-keyboard) {
      width: 100%;
      min-height: 150px;
      height: 25%;
      flex-direction: row;
      order: -1;
    }
  }

  .none {
    display: none;
  }
}

.none {
  display: none;
}
