$font-size-main: 18px;
$color-primary: #ff9900;
$color-additional: #ff7549;
$color-text: #544837;
$color-border: #d7d7d7;
$color-background: #ffeee1;
$color-hovered: #bcd0e5;
$color-light: #ffffff;
$color-black: #000000;
$color-overlay: rgba(80, 80, 80, 0.4);

$color-gray: #969992;
$color-violet: #7752be;
$color-yellow: #fab005;
$color-red: #f03e3d;
$color-blue: #4169e1;
$color-recovered: #70a800;

$content-width: 1920px;
$content-big-width: 1600px;
$content-hd-width: 1280px;
$content-middle-width: 1050px;
$content-middle-keyboard: 850px;
$content-little-width: 600px;
$content-smallest-width: 320px;
